*{
     font-family: 'Roboto', sans-serif;
}

body{
     background-color: #F4F6F6;
     position: relative;
}

#createView, #readView, #indexView{
     background-color:#FDFEFE;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 85%;
     padding: 15px;
     border-radius: 15px;
     box-shadow: 4px 4px 30px 10px rgba(0,0,0,0.2);
}

table{
     table-layout: fixed;
}
table td{
     width: 100%;
     word-wrap: break-word;
}